@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 font-sans;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  code, pre, .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
}
